name: goreleaser

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  lint:
    name: Run linter
    uses: ZeljkoBenovic/aws-commander/.github/workflows/linter.yaml@v2

  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - run: git fetch --force --tags

      - uses: actions/setup-go@v3
        with:
          go-version: 1.17.x
          cache: true

      - uses: goreleaser/goreleaser-action@v2
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}